In [3]:
import pandas as pd
import os
from datetime import datetime

In [4]:
path = "C:/Users/Hp/OneDrive/Documents/Desktop/10june/weekly_data/"
file_list = os.listdir(path)
file_list[0]

'WEEK_01_31DEc_06_Jan2022_WEEKLY_expiry_data_NF_AND_BNF_Options.csv'

In [15]:
week1 = pd.read_csv(path+file_list[0])
print(week1.shape)
week1

(412680, 8)

,Ticker,Date/Time,Open,High,Low,Close,Volume,Open Interest
0,BANKNIFTY,31-12-2021 09:15:00,35114.40,35225.70,35113.80,35220.00,1,0
1,BANKNIFTY,31-12-2021 09:16:00,35218.80,35285.80,35218.80,35276.90,1,0
2,BANKNIFTY,31-12-2021 09:17:00,35289.30,35320.80,35275.70,35311.90,1,0
3,BANKNIFTY,31-12-2021 09:18:00,35311.60,35333.50,35301.40,35307.90,1,0
4,BANKNIFTY,31-12-2021 09:19:00,35311.20,35329.60,35302.30,35329.60,1,0
...,...,...,...,...,...,...,...,...
412675,USDINR-I,06-01-2022 15:26:00,74.66,74.66,74.65,74.65,8532,2189496
412676,USDINR-I,06-01-2022 15:27:00,74.65,74.66,74.65,74.66,4083,2184273
412677,USDINR-I,06-01-2022 15:28:00,74.66,74.66,74.65,74.66,10849,2184273
412678,USDINR-I,06-01-2022 15:29:00,74.66,74.66,74.65,74.66,5655,2184273
412679,USDINR-I,06-01-2022 15:30:00,74.66,74.66,74.65,74.66,4008,2177262

In [27]:
week1[(week1['Ticker']=='BANKNIFTY') & (week1['Date/Time']=='31-12-2021 09:15:00')]['Close'].values[0]

35220.0

In [6]:
week1[['Date','Time']] = week1['Date/Time'].str.split(' ', expand = True)

In [7]:
week1

,Ticker,Date/Time,Open,High,Low,Close,Volume,Open Interest,Date,Time
0,BANKNIFTY,31-12-2021 09:15:00,35114.40,35225.70,35113.80,35220.00,1,0,31-12-2021,09:15:00
1,BANKNIFTY,31-12-2021 09:16:00,35218.80,35285.80,35218.80,35276.90,1,0,31-12-2021,09:16:00
2,BANKNIFTY,31-12-2021 09:17:00,35289.30,35320.80,35275.70,35311.90,1,0,31-12-2021,09:17:00
3,BANKNIFTY,31-12-2021 09:18:00,35311.60,35333.50,35301.40,35307.90,1,0,31-12-2021,09:18:00
4,BANKNIFTY,31-12-2021 09:19:00,35311.20,35329.60,35302.30,35329.60,1,0,31-12-2021,09:19:00
...,...,...,...,...,...,...,...,...,...,...
412675,USDINR-I,06-01-2022 15:26:00,74.66,74.66,74.65,74.65,8532,2189496,06-01-2022,15:26:00
412676,USDINR-I,06-01-2022 15:27:00,74.65,74.66,74.65,74.66,4083,2184273,06-01-2022,15:27:00
412677,USDINR-I,06-01-2022 15:28:00,74.66,74.66,74.65,74.66,10849,2184273,06-01-2022,15:28:00
412678,USDINR-I,06-01-2022 15:29:00,74.66,74.66,74.65,74.66,5655,2184273,06-01-2022,15:29:00
412679,USDINR-I,06-01-2022 15:30:00,74.66,74.66,74.65,74.66,4008,2177262,06-01-2022,15:30:00

In [8]:
del(week1['Date/Time'])

In [11]:
week1

,Ticker,Open,High,Low,Close,Volume,Open Interest,Date,Time
0,BANKNIFTY,35114.40,35225.70,35113.80,35220.00,1,0,31-12-2021,09:15:00
1,BANKNIFTY,35218.80,35285.80,35218.80,35276.90,1,0,31-12-2021,09:16:00
2,BANKNIFTY,35289.30,35320.80,35275.70,35311.90,1,0,31-12-2021,09:17:00
3,BANKNIFTY,35311.60,35333.50,35301.40,35307.90,1,0,31-12-2021,09:18:00
4,BANKNIFTY,35311.20,35329.60,35302.30,35329.60,1,0,31-12-2021,09:19:00
...,...,...,...,...,...,...,...,...,...
412675,USDINR-I,74.66,74.66,74.65,74.65,8532,2189496,06-01-2022,15:26:00
412676,USDINR-I,74.65,74.66,74.65,74.66,4083,2184273,06-01-2022,15:27:00
412677,USDINR-I,74.66,74.66,74.65,74.66,10849,2184273,06-01-2022,15:28:00
412678,USDINR-I,74.66,74.66,74.65,74.66,5655,2184273,06-01-2022,15:29:00
412679,USDINR-I,74.66,74.66,74.65,74.66,4008,2177262,06-01-2022,15:30:00

<ipython-input-10-4a5603ceda42>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  week1 = week1[week1['Ticker'][:9]=='BANKNIFTY']

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [ ]:
week1.columns

In [ ]:
desired_col = ['Ticker', 'Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Open Interest']

In [ ]:
week1 = week1[desired_col]

In [ ]:
week1

In [ ]:
def day(date):
    date = datetime.strptime(date,'%d-%m-%Y')
    return date.strftime('%A')

In [ ]:
def get_atm(spot):
    if spot%100<50:
        return int(spot/100)*100
    return int(spot/100)*100 + 100

In [ ]:
# Here Pi is a position number and D is deactive and A is active position.
P = {'P1':'D','P2':'D','P3':'D','P4':'D'}

In [ ]:
P['P1']

In [ ]:
if week1["Time"][0]=='09:15:00':
    print("True")

In [ ]:
entry = [['09:40:00','sell',17],['10:45:00','sell',17],['11:14:00','sell',19],['11:49:00','sell',23]]

In [ ]:
P = {}
for j in range(len(entry)):
    P[entry[j][0]] = 'D'
P

In [ ]:
result = pd.DataFrame(columns=["Entry_Time","Index_LTP","Call_Strike","Put_Strike","Entry_CE_LTP","Entry_PE_LTP","Call_SL","Put_SL",
                              "Exit_Time_Call","Exit_Time_Put","Exit_CE_LTP","Exit_PE_LTP",""])
result

In [ ]:
# new_row = pd.DataFrame({"Entry_Time":['09:10:00'],"LTP":37})
# result = result.append(new_row)
# result
print(week1.head(3))
week1['Ticker']['BANKNIFTY']

In [ ]:
for i in range(len(week1)):
    if week1['Time'][i] in P and P[week1['Time'][i]]=='D':
        new_entry = {"Entry_Time":None,"LTP":None,"Call_Strike":None,"Put_Strike":None,"Entry_CE_LTP":None,"Entry_PE_LTP":None,"Call_SL":None,"Put_SL":None,
                              "Exit_Time_Call":None,"Exit_Time_Put":None,"Exit_CE_LTP":None,"Exit_PE_LTP":None}
        new_entry['Entry_Time'] = week1['Time'][i]
        new_entry['Index_LTP'] = week1['Open'][i]
        new_entry['Call_Strike'] = get_atm(new_entry['Index_LTP'])
        new_entry['Put_Strike'] = get_atm(new_entry['Index_LTP'])

In [12]:
week1

,Ticker,Open,High,Low,Close,Volume,Open Interest,Date,Time
0,BANKNIFTY,35114.40,35225.70,35113.80,35220.00,1,0,31-12-2021,09:15:00
1,BANKNIFTY,35218.80,35285.80,35218.80,35276.90,1,0,31-12-2021,09:16:00
2,BANKNIFTY,35289.30,35320.80,35275.70,35311.90,1,0,31-12-2021,09:17:00
3,BANKNIFTY,35311.60,35333.50,35301.40,35307.90,1,0,31-12-2021,09:18:00
4,BANKNIFTY,35311.20,35329.60,35302.30,35329.60,1,0,31-12-2021,09:19:00
...,...,...,...,...,...,...,...,...,...
412675,USDINR-I,74.66,74.66,74.65,74.65,8532,2189496,06-01-2022,15:26:00
412676,USDINR-I,74.65,74.66,74.65,74.66,4083,2184273,06-01-2022,15:27:00
412677,USDINR-I,74.66,74.66,74.65,74.66,10849,2184273,06-01-2022,15:28:00
412678,USDINR-I,74.66,74.66,74.65,74.66,5655,2184273,06-01-2022,15:29:00
412679,USDINR-I,74.66,74.66,74.65,74.66,4008,2177262,06-01-2022,15:30:00

In [14]:
week1[week1['Ticker']=='BANKNIFTY'][week1['Date']==31-12-2021]

<ipython-input-14-63a55a720950>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  week1[week1['Ticker']=='BANKNIFTY'][week1['Date']==31-12-2021]

Empty DataFrame
Columns: [Ticker, Open, High, Low, Close, Volume, Open Interest, Date, Time]
Index: []